/*  Overlayed modal box.  */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 10, .5);

  animation: modalFadeIn .25s linear;
}

.modal-overlay .modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
  margin: 0;

  transform: translateX(-50%) translateY(-50%);
}

.modal-overlay.close {
  opacity: 0;

  animation: modalFadeOut .5s ease-in;
}

.modal-overlay.close .modal {
  margin-top: 20px;
  opacity: 0;

  animation: modalFall .25s ease-in, modalFadeOut .25s linear;
}

@keyframes modalFadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes modalFadeOut {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes modalRise {
	0% { margin-top: 50px; }
	100% { margin-top: 0; }
}

@keyframes modalFall {
	0% { margin-top: 0; }
	100% { margin-top: 20px; }
}

/*  Modal box.  */
.modal {
  display: block;
  min-width: 300px;
  max-width: 500px;
  margin: 0 auto;

  line-height: 1.6;
  font-weight: 400;
  font-family: Raleway, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;

  background-color: #FFF;

  box-shadow: 0 0 8px #3366BB;

  animation: modalRise .5s ease-out, modalFadeIn .5s ease-out;
}

.modal .close {
  display: block;
  float: right;
  margin: 15px 10px 0 0;

  color: #AAA;

  font-size: 32px;
  font-weight: 300;
  line-height: 0;

  cursor: pointer;
}

.modal .close:hover {
  color: #777;
}

.modal .title {
  margin: 20px;
  padding: 5px 0;

  color: #333;
  text-align: center;
  font-size: 30px;
  line-height: 50px;
  font-weight: 300;
  letter-spacing: .25rem;
}

.modal .title .lead {
  display: block;
  font-size: 16px;
  line-height: 20px;
}

.modal .title i {
  font-size: 75px;
}

.modal p {
  margin: 0;
  padding: 10px 20px;
}

.modal footer {
  padding: 10px;

  border-top: 1px solid #DDD;
}

.modal.info { border-top: 5px solid #5588FF; }
.modal.warning { border-top: 5px solid #FFC31B; }
.modal.danger { border-top: 5px solid #FF5533; }
